{
    padding; 0;
    margin; 0;
    box-sizing: border-box;
}

body{
    font-family: "calibri light";
}
.contenedor{
    background: tomato;
    width: 80%;
    margin: auto;
}
header{
    height: 400px;
    background-image: url("img/portada.jpeg");
    background-position: center;
    background-size: cover; 
}
main{
    background: white;
    padding: 20px 30px;
    text-align: center;
}
main .foto{
    width: 150px;
    height: 150px;
    background-color: teal;
    border-radius: 50%;
    margin: -75px auto 20px auto;
    border: 6px solid #ffffff;
}
main .foto img{
    width: 100%;
    border-radius: 50%;
}
footer{
    background: teal;
    text-align: center;
    padding: 25px;
    color: #ffffff
}
a{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 50px;
    background: teal;
    color: #ffffff;
    border-radius: 20px;
}